PORT=3000

# Anova API
TOKEN_API="https://securetoken.googleapis.com/v1/token?key=AIzaSyDQiOP2fTR9zvFcag2kSbcmG9zPh6gZhHw"
WS_SERVER="wss://app.oven.anovaculinary.io"
REFRESH_TOKEN="<your refresh token>"

# Oauth2 Authentication for the Service itself
AUTH_ENABLED="false"
JWT_ISSUER="<oauth2 token jwt issuer>"
JWKS_URI="<oauth2 token jwks uri>"
CLIENT_ID="<oauth2 client id / aud>"

# Metric Exporter Configuration
## Log to Console
METRIC_LOG_ENABLED="true"

## InfluxDB Configuration
METRIC_INFLUX_ENABLED="false"
INFLUX_URL="<influxdb url>"
INFLUX_TOKEN="<influxdb api token>"
INFLUX_ORG="<influxdb org>"
INFLUX_BUCKET="<influxdb bucket>"
